@import "tailwindcss";

@layer base {
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  input[type="checkbox"]:not(:disabled),
  input[type="radio"]:not(:disabled),
  select:not(:disabled),
  label:has(input:not(:disabled)),
  label[for],
  summary,
  a {
    cursor: pointer;
  }
}